{% extends 'base_generic.html' %}

{% block title %}Home{% endblock title %}

{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}  

    {# Hero Section #}  
    <div class="mkt-s1">
        <div class="mkt-s1-body container ">
            <div class="row">
                <h1 class="col-md-9">An Opportunity to Attend the Best Sermons from the Comfort of Your Living Room</h1>
            </div>
            <div class="row">
                <p class="col-md-8">Track live sermons from all corners of the world.</p>
            </div>
            <div class="row">
                {# First Signup Link #}
                <a href=""
                   class="sign-up btn btn-success">Sign Up And Get Connected!
                </a>
            </div>
        </div>
    </div>
    {# Main Section #}
    <div class="mkt-s2 container">
        <h2 class="mkt-s2-h">Why Join Online Church</h2>
        <div class="mkt-s2-body">
            <div class="col-md-4 mkt-vp">
                <img class="" src="{{ STATIC_URL }}images/clock.png"/>
                <h5>Save Time</h5>
                <p>We are not always lucky to be in places 
                    our best preachers are located but can be 
                    provided with the best online church experience
                    that matches real church attendance.
                </p>
            </div>
            <div class="col-md-4 mkt-vp">
                <img class="" src="{{ STATIC_URL }}images/lightbulb.png"/>
                <h5>Stay Current</h5>
                <p>Staying updated on current sermons renews your faith.
                    It allows you to connect with millions who as committed 
                    as you are.
                </p>
            </div>
            <div class="col-md-4 mkt-vp">
                <img class="" src="{{ STATIC_URL }}images/dollar.png"/>
                <h5>Contact Us</h5>
                <p>We are committed to enhancing your experience
                    and improving your journey towards a fulfilling
                    and joyful relationship with Jesus.
                </p>
            </div>
        </div>
        {# Second Signup Link #}
        <a href="" class=" sgn-btm ">SIGN UP</a>
    </div>

{% endblock content %}