

{% extends 'base_generic.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "static/live.css" %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block title %}Home{% endblock title %}

{% block nav-style %}mkt-nav{% endblock nav-style %}


{% load socialaccount %}

<h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
{% else %}
<a href="{% provider_login_url 'google' %}">Sign Up</a>
<a href="{% provider_login_url 'facebook' %}">Sign Up</a>
{% endif %}


{% block content %}  

 {# Hero Section #} 
 <div class="v-header container"> 
        <div class="fullscreen-bg">
           <div class="fullscreen-video-wrap">
               <div class="fullscreen-bg__video">
               <video src= "{% static "images/moving.mp4" %}" autoplay="" loop="">
                   </video>
               </div>
           <div class="header-overlay"></div> 
       <div class="header-content text-md-center">
   </div>

<div class="column"> 
    <div class="mkt-s1">
            <div class="column">
                <a href=""
                   class="sign-up btn btn-success">Sign Up And Get Connected!
                </a>
            </div>
        </div>
    </div>

    {# Main Section #}
    
<div class="row">
    <div class="column">
        <div class="mkt-s2 container">
            <h2 class="mkt-s2-h">Why Join Our Online Church</h2>
            </div>
        <div class="column">
            <div class="col-md-4 mkt-vp">
                <img class="" src="{% static "images/lightbulb.png" %}"/>
                <h5>Live Stream</h5>
                <p>Staying updated on current sermons renews your faith.
                    It allows you to connect with millions who as committed 
                    as you are.</p>
            </div>
        <div class="column">
            <div class="col-md-4 mkt-vp">
                <img class="" src="{% static "images/dollar.png" %}"/>
                <h5>Community</h5>
                <p>We are committed to enhancing your experience
                    and improving your journey towards a fulfilling
                    and joyful relationship with Jesus.</p>
            </div>
        <div class="column">
            <div class="col-md-4 mkt-vp">
                <img class="" src="{% static "images/dollar.png" %}"/>
                <h5>Watch Live</h5>
                <p>We are committed to enhancing your experience
                    and improving your journey towards a fulfilling
                    and joyful relationship with Jesus.</p>
            </div>
        </div>
        {# Second Signup Link #}
<a href="" class=" top-left ">Sign-Up</a>
    </div>
{% endblock content %}