{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<header> 
        <div class="v-header container">
            <div class="fullscreen-bg">
               <div class="fullscreen-video-wrap">
                   <video src= "{% static "images/moving.mp4" %}" autoplay="" loop="">
                       </video>
                   </div>
               <div class="header-overlay"></div>
           <div class="header-content text-md-center">
       </div>
{% endblock content %}